node_modules/
dist/
.DS_Store
src/assets/catvideo.mp4
src/assets/glitch.gif
src/assets/live_grey.gif
src/assets/live_light_grey.gif
src/assets/fortune.gif
src/assets/never-gonna-give-you-up.mp3
src/assets/001.jpg
src/assets/bg1.png
src/assets/brokenTV.jpg
src/assets/oldtv.jpg
src/assets/zebra.jpg
src/assets/bg5.png
src/assets/shutdown.gif
src/assets/003.jpg
src/assets/noise.png
src/assets/bg9.jpg
src/assets/win_xp.jpg
src/assets/bigger_noise.jpg
src/assets/cat.gif
